:root {
    --online-color: #23a55a;
    --idle-color: #f0b232;
    --dnd-color: #f23f43;
    --offline-color: #80848e;
}
body {
    background-color: #003D3D;
    padding: 30px;
}
#main-window {
    max-width: 600px;
}
.window {
    background-color: #202020;
    color: white;
    box-shadow: inset -1px -1px #000000,inset 1px 1px #202020,inset -2px -2px #151515,inset 2px 2px #404040;   
}
.window .title-bar  {
    background: linear-gradient(90deg, navy, #0a52b1);
}
.window-body {
    padding: 10px;
}
#header {
    display: flex;
}
#header h3  {
    font-weight: 400;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
#pfp {
    width: 90px;
    height: 90px;
    border-radius: 3px;
    border-color: var(--offline-color);
    border-style: solid;
    border-width: 2px;
}
legend {
    background: #00000000;
}
fieldset {
    border-color: #606060;
    border-image: none;
}
a {
    color: cornflowerblue;
}